// Body
$body-bg: #ffffff;
$body-guest-bg: rgba(247,246,254,255);

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$cyan: #6cb2eb;
$dark: #343a40;
$green: #38c172;
$indigo: #6574cd;
$orange: #f6993f;
$pink: #ff0096;
$pink-75: rgba(255, 0, 150, 0.75);
$purple: #9561e2;
$red: #e3342f;
$teal: #4dc0b5;
$white: #ffffff;
$yellow: #ffed4a;

$success:       $green;
$info:          $blue;
$warning:       $orange;
$danger:        $red;


$box-shadow:                  0px 24px 24px -16px rgba(36, 51, 57, .22);

// TOASTS
$toast-max-width:                   350px;
$toast-padding-x:                   .75rem;
$toast-padding-y:                   .5rem;
$toast-font-size:                   .875rem;
$toast-color:                       null;
$toast-background-color:            rgba($white, .95);
$toast-border-width:                1px;
$toast-border-color:                rgba(0, 0, 0, .1);
$toast-border-radius:               5px;
$toast-box-shadow:                  $box-shadow;

$toast-header-background-color:     rgba($white, .85);
$toast-header-border-color:         rgba(0, 0, 0, .05);

// Dark theme
$dark900: #1e1e1e;
$dark700: #252526;
$dark500: #2d2d30;
$dark300: #3e3e42;

$light50: #fafafa;
$light100: #f5f5f5;
$light200: #eeeeee;
$light300: #e0e0e0;

$light-copper: #b67649;
$light-copper-semi: rgba(182, 118, 73, 0.75);
$copper: #c97c5d;
$copper-semi: rgba(201, 124, 93, 0.75);
$ecru: #e1bb80;
$quartz: #a7a2a9;
$ghost: #e8e9f3;

$majorelle: #574ae2;