@font-face {
  font-family: "goudy-old-style";
  src: url("../fonts/goi.ttf");
}
@font-face {
  font-family: "goudos";
  src: url("../fonts/GOUDOS.ttf");
}

/* ---------- GENERAL ---------- */
* {
  outline: none;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 90vw;
}

body {
  width: 100vw;
  font-family: "goudos", "goudy-old-style", serif;
  background-image: linear-gradient(#080808, #303030);  
  color: #fff;
  text-align: center;
  font-size: 22px;
  overflow-x: hidden;

  margin-top: 60px; /* HEADER HEIGHT */
}

a {
  color: #fff;
  text-decoration: none;
  outline: none;
}

a:hover {
  color: rgb(255, 0, 150);
  outline: none;
}

a:visited {
  color: #fff;
  text-decoration: none;
}

a:focus, a:active {
  outline: none;
}

.imagesRondes {
  border-radius: 5000px;
  border: 3px solid rgb(112, 112, 112);
}

h1 img {
  width: 90%;
  max-width: 720px;
}

h2 {
  text-transform: uppercase;
  border-bottom: 3px solid white;
  margin: 100px auto 40px auto;
  width: 80%;
  max-width: 720px;
}

h3 {
  text-transform: uppercase;
  margin: 10px 0;
  max-width: 98vw;
}

h4 {
  margin: 10px 0;
}

h5 {
  color: rgb(255, 0, 150);
  font-size: 1.2em;
  margin: 40px 0 20px 0;
  text-transform: uppercase;
  max-width: 98vw;
}

.clickable {
  cursor: pointer;
}
.clickable:hover {
  cursor: pointer;
  color: rgb(255, 0, 150);
}

strong {
  color: rgb(255, 0, 150);
}

.citation {
  font-style: italic;
}

.underline{
  text-decoration: underline;
}

/* ---------- NAV ---------- */

nav {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(150, 150, 150, 0.95);
  overflow: hidden;
  z-index: 99;
  margin-top: 40px;
}

nav ul {
  height: 85%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

nav ul li a{
  transition: 0.3s;
  font-size: 1.5em;
  margin: auto;
}

nav ul li:hover {
  color: rgb(255, 0, 150);
}

/* ---------- HEADER ---------- */
header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
  height: 40px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#phoneNumber{
  font-size: 1.4em;
  margin-left: 20px;
}

#burger{
  width: 40px;
  height: 40px;
  margin: 5px 5px 0 0;
}

    #burger span{
      display: block;
      width: 100%;
      height: 5px;
      background-color: white;
    }

    #burger span:nth-child(2){
      background-color: rgb(255, 0, 150);
      margin: 8px 0;
    }

/* ---------- MAIN ---------- */
main { 
  
  display: flex;
  flex-direction: column;
  text-align: center;
}

main .section-txt {
  width: 330px;
  max-width: 95vw;
  margin: 0 auto;
}

.horaires {
  width: 90%;
  margin: 10px auto;
}

.horaires p{
  background-color: #646464;
  text-transform: uppercase;
  border: 2px solid rgb(255, 0, 150);
  border-radius: 50px;
  font-size: 0.9em;
  margin: 10px 0;
}

.more1440 {
  display: none;
}

    /* ---------- ACCUEIL ---------- */
    #accueil figure img {
      width: 250px;
    }

    #accueil h3 {
      margin: 20px 0;
    }

    #accueil h4:last-child {
      margin-bottom: 50px;
    }

    /* ---------- QUI SUIS JE ---------- */
    #quiSuisJe {
      height: auto;
    }

    #photoFormation {
      width: 330px;
      height: auto;
      border: 2px solid gray;
      border-radius: 10px;
      margin-bottom: 20px;
    }
    /* ---------- SALON ---------- */


    /* ---------- SERVICES ---------- */
    #services .imagesRondes {
      width: 70vw;
      max-width: 350px;
    }

    #services p {
      margin: 20px auto 10px auto;
      font-size: 1em;
    }

    #service1 h5 {
      margin-top: 0px;
    }

    /* ---------- CONTACT ---------- */
    #contact .horaires {
      margin-top: 30px;
    }

    .social a img{
      width: 70px;
      height: 70px;
      margin: 20px 40px 20px 40px;
      border: none;
    }

    #integratedMap {
      display: none;
    }



/* -----------------------------------MEDIA QUERIES----------------------------------- */
@media only screen and (min-width: 768px) { /*TABLET */

  main .section-txt {
    width: 70vw;
  }

  body {
   font-size: 30px;
  }

  header {
    height: 50px;
  }

 

  /* ---------- CONTACT ---------- */
  .social a img{
    width: 90px;
    height: 90px;
  }
}



/* ---------------------------------------------------------------------- */
@media only screen and (min-width: 1024px) { /*TABLET LANDSCAPE */
  
  .horaires {
    width: 70%;
    max-width: 600px;
  }

  body {
    font-size: 24px;
   }

   /* ---------- NAV ---------- */
   nav ul li a{

    font-size: 2em;
  }

   /* ---------- ACCUEIL ---------- */
   #accueil figure img {
    width: 350px;
  }
}



/* ---------------------------------------------------------------------- */
@media only screen and (min-width: 1024px) and (min-height: 1365px) { /* BIG TABLET LANDSCAPE */
  body {
    font-size: 40px;
   }

  header {
    height: 60px;
  } 

  nav {
    margin-top: 60px;
  }

  #burger {
    width: 80px;
    height: 80px;
  }
  
    #burger span {
      height: 10px;
    }

    #burger span:nth-child(2) {
      margin: 12px 0;
    }

   /* ---------- ACCUEIL ---------- */
   #accueil figure img {
    width: 450px;
   }

  /* ---------- QUI SUIS JE ---------- */
  #photoFormation {
    width: 600px;
    height: auto;
  }

  /* ---------- SERVICES ---------- */
  #services .imagesRondes {
    width: 70vw;
    max-width: 450px;
  }

  /* ---------- CONTACT ---------- */
  .social a img{
    width: 110px;
    height: 110px;
  }
}



/* ---------------------------------------------------------------------- */
@media only screen and (min-width: 1366px) { /* BIG TABLET IPAD Pro */
  
  body {
    font-size: 30px;
   }

   /* ---------- ACCUEIL ---------- */
   #accueil figure img {
    width: 450px;
   }

  /* ---------- QUI SUIS JE ---------- */
  #photoFormation {
    width: 450px;
    height: auto;
  }

  /* ---------- SERVICES ---------- */
  #services .imagesRondes {
    width: 70vw;
    max-width: 450px;
  }
}




/* ---------------------------------------------------------------------- */
@media only screen and (min-width: 1440px) { /* LAPTOP */
  /* ---------- NAV ---------- */
  body {
    font-size: 24px;
    margin-bottom: 50px;
  }

  header {
    display: none;
  }

  nav {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.8);
    margin-top: 0px;
    z-index: 99;
    border-bottom: 1px solid rgb(255, 0, 150);
  }
  
  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    padding-top: 0.2em;
  }

  nav ul li a{
    font-size: 1.3em;
  }

  main {
    margin-top: 100px;
  }

  .more1440 {
    display: block;
  }

  /* ---------- ACCUEIL ---------- */

    .flexAccueil {
      display: flex;
      flex-direction: row;
      justify-content: center;
      }

    .flexAccueil article {
      margin-left: 10vw;

    }

    #accueil h1 {
      margin-bottom: 50px;
    }

    #accueil figure img {
      width: 400px;
    }

    #accueil h3 {
      font-size: 1.5em;
      margin: 20px 0;

    }

    #scissors {
      position: absolute;
      width: 200px;
      height: auto;
      top: 750px;
      left: 50px;
    }

    #foots {
      position: absolute;
      width: 250px;
      height: auto;
      top: 120px;
      right: 50px;
      transform: rotate(30deg);
    }

    #accueil h4 {
      font-size: 1.25em;
    }
    #accueil h4:last-child {
      margin-bottom: 50px;
    }

    #horairesTop {
      position: relative;
      top: -200px;
      left: 280px;
      width: 600px;
      margin-bottom: -150px;
    }

  /* ---------- QUI SUIS JE ---------- */

  #photoFormation {
    width: 400px;
    height: auto;
    max-height: 462px;
    border: 2px solid gray;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 5vw;
    margin-right: 7.5vw;
  }

  #quiSuisJe {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 30px auto 0 auto;
    height: auto;
  }
  #quiSuisJe .section-txt {
    max-width: 30vw;
    margin-left: 10vw;
    margin: auto 0;
    
  }


  /* ---------- SERVICES ---------- */
  #services {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 100px;
  }
  #services .imagesRondes {
    width: 275px;
  }

  #services p {
    width: 350px;
    margin: 20px auto 10px auto;
    font-size: 1em;
  }

  #service1 {
    order: 2;
  }

  #service2 {
    order: 3;
    transform: scale(0.9);
  }

  #service3 {
    order: 1;
    transform: scale(0.9);
  }

/* ---------- CONTACT ---------- */

  #contact h2 {
    margin-top: 0px;
  }

  #contactContent {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 80vw;
    margin: 60px auto 0 auto;
  }

  #flexContact {
    display: flex;
    flex-direction: column;
  }

  #infoContact {
    display: flex;
    flex-direction: column;
  }

  #integratedMap {
    display: block;
    border-radius: 50px;
  }

  #horairesBottom {
    left: 360px;
    width: 450px;
  }

  .social {

  }

  .social a img{
    width: 70px;
    height: 70px;
    
  }
}


/* ---------------------------------------------------------------------- */
@media only screen and (min-width: 1920px) { /* DESKTOP */
  #services .section-txt {

  }

  
}