.btn-nav {
      width: 40px;
      height: 60px;
      margin: 20px 0
      ;
      color: white !important;

      font-size: 20px !important;

      display: flex !important;
      justify-content: center;
      align-items: center;

      transition: all .3s;
}

.btn-nav:hover {
      color: $pink !important;
}

.btn--primary {
      background-color: $pink;
      color: white;
}

.btn--primary:hover {
      color: white;
      font-weight: bold;
}

.form-actions-buttons {
      z-index: 2;
      position: fixed;
      bottom: 40px;
      right: 60px;
}

.btn-circle {
      width: 60px;
      height: 60px;

      font-size: 30px;
      line-height: 1.33;
      border-radius: 30px;
}