.text-pink {
    color: $pink;
    transition: all .3s;
}

.text-gray {
    color: gray;
    transition: all .3s;
}

.text-green {
    color: $green;
    transition: all .3s;
}

.text-transparent {
    color: $body-bg;
    opacity: 0;
}

.text--copper {
    color: $copper;
}

.text--light-copper {
    color: $light-copper;
}

.text--quartz {
    color: $quartz;

    &:hover {
        color: $ghost;
    }
}

.width-content {
    min-width: 200px !important;
}

button, a {
    .active {
        color: $pink !important;
    }
}

.nav-link.active {
    background-color: $pink !important;
}

.text-muted {
    color: gray;
    font-style: italic;
    font-size: 0.8rem;
}

.bg-gray {
    background-color: lightgray;
}

.overlay-images {
    position: relative;

    .overlay {
        position: absolute;
        top: 0;
        right: 0;
        width: 100px;
        height: 100px;
        border-bottom-left-radius: 100px;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 2;

        transition: all .3s;

        &--hide {
            display: none;
        }

        &--show {
            display: block;
        }

        button {
            position: absolute;
            top: 22px;
            right: 15px;

            i {
                font-size: 24px;
            }
        }
    }
}

.line-through {
    text-decoration: line-through;
}

.scrollable-content {
    height: auto;
    max-height: 75vh !important;
    overflow-y: scroll;
}

.width-16px {
    width: 16px;
}

.avatar {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: auto 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 1.5rem;
}