.text-pink {
    color: $pink;
    transition: all .3s;
}

.text-gray {
    color: gray;
    transition: all .3s;
}

.text-green {
    color: $green;
    transition: all .3s;
}

.width-content {
    min-width: 200px !important;
}

button, a {
    .active {
        color: $pink !important;
    }
}

.nav-link.active {
    background-color: $pink !important;
}

.text-muted {
    color: gray;
    font-style: italic;
    font-size: 0.8rem;
}
