.dataTable {
    tbody {
        tr {
            td:first-child {
                text-align: center;
                
                i {
                    color: $pink;
                }
            }
        }
    }
}