.form-control {
    &.is-invalid {
        margin-bottom: 0;
    }
}

.form-check-input:checked {
    background-color: $copper;
    border-color: $copper;
}

.form-container {
    background-color: $dark700;
    background: linear-gradient(90deg, $dark700 0%, $dark500 100%);
    border-radius: 5px;
    box-shadow: 2px 2px 2px $dark500;
}

.dirty-spinner {
    animation: spin 2s infinite linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}