#app {
    margin: 0 auto 2vh auto;
    width: 100%;
    max-width: 1440px;
    min-height: 100vh;

    &.app--xl {
        max-width: 1920px;
    }

    main {
        color: $light200;
    }

    .dropdown-toggle {
        &--no-arrow::after {
            content: none;
        }
    }
}