#bottom-nav {
      position: fixed;
      bottom: 2rem;
      left: 50%;
      transform: translateX(-50%);
      background-color: $light200;
      border-radius: 50px;
      z-index: 4;

      .nav-item {
            color: $dark300;

            &:hover {
                  color: $ecru;
            }

            &[active] {
                  padding: 0.3rem;
                  color: $copper;
                  border: 2px solid $copper;
                  border-radius: 50%;
                  background-color: $light200;
            }
      }
}

@media screen and (min-width: 0px) and (max-width: 768px) {
      #bottom-nav { bottom: 1rem; }
}

@media screen and (min-width: 768px) {
      #bottom-nav { bottom: 2rem; }
}