* {
      box-sizing: border-box;
      outline: 0 !important;
}

*:focus {
      outline:none !important
}

html {
      min-width: 100%;
      min-height: 100%;
      overflow-x: hidden;
}
body {
      min-width: 100%;
      min-height: 100%;

      overflow-x: hidden;
      background-color: $body-bg;
}
