* {
      box-sizing: border-box;
}

*, *:focus {
      outline: 0 !important;
      outline: none !important;
      -webkit-appearance: none !important;
}

*:focus{
      border-width: 0px !important;
      outline:0; /* I have also tried outline:none */
      -webkit-appearance:none !important;
      box-shadow: none !important;
      -moz-box-shadow: none !important;
      -webkit-box-shadow: none !important;
}

html {
      min-width: 100%;
      min-height: 100%;
      overflow-x: hidden;
}
body {
      min-width: 100%;
      min-height: 100%;

      overflow-x: hidden;
      background-color: $body-bg;
}
