table {
    tbody {
        tr {
            td {
                vertical-align: middle;
            }
        }
    }
}

.table-container {
    input:focus, select:focus {
        border-width: 1px !important;
        border-color: #ced4da !important;
        outline: 0;
        -webkit-appearance: none !important;
        box-shadow: none !important;
        -moz-box-shadow: none !important;
        -webkit-box-shadow: none !important;
    }
}