table {
    tbody {
        tr {
            td:first-child,
            tr:first-child {
                max-width: auto;
            }
            td {
                vertical-align: middle;
            }
        }
    }
}

.table-container {
    margin: 3rem;
    padding: 1rem;
    border-radius: 10px;

    input:focus, select:focus {
        border-width: 1px !important;
        border-color: #ced4da !important;
        outline: 0;
        -webkit-appearance: none !important;
        box-shadow: none !important;
        -moz-box-shadow: none !important;
        -webkit-box-shadow: none !important;
    }
}